.product-details {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    width: 70%;
    height: auto;
    padding: 20px;
    .card-top {
      height: 300px;
    }
  }
}
