* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #dedede;
}
.container {
  width: 90%;
  margin: 0 auto;
}
