.header {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      a {
        color: #fff;
        font-size: 25px;
        padding: 20px 40px;
        position: relative;
        text-align: center;
        transition: background-color 0.3s ease;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
        &:hover {
          background-color: #2e2e2e;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
}
