.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #cecece;
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  &:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
  }
}
